.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 300px;
  width: 600px;
  height: 800px;
  margin-top: -330px;

}
.bodyPart-card:hover {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
@media screen and (max-width:1200px){
  .hero-banner-img{
    display: none;
  }
}